*{
	box-sizing: border-box;
	font-family: roboto;
}
.header{
	display: flex;
	justify-content: space-between;
}
.arrow-button, .arrow-dish{
	background: transparent;
	border:none;
	outline: none;
}
.arrow-button, .arrow-dish:hover{
	cursor: pointer;
}
.arrow{
	font-size: 50px;
}
.menu{
	font-size: 65px;
	margin: 0;
}
.categories-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.button-item{
	margin:10px;
	padding: 10px;
	border-radius: 10px;
	height: 300px;
	max-height: 500px;
	outline: none;
	border:none;
}
.button-item:hover{
	cursor: pointer;
	box-shadow: 0 0 20px #000;
}
.options-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.button-option{
	border:none;
	outline: none;
	margin:20px;
	padding: 10px;
	border-radius: 20px;
}
.button-option:hover{
	cursor: pointer;
	box-shadow: 0 0 20px #000;
}

.option-image{
	max-width: 200px;
}
.dish-container{
	position: absolute;
	top: 5%;
	left:10%;
	width: 80%;
	border-radius: 30px;
	padding: 10px 50px;
	box-shadow: 0 0 25px #000;
}
.dish-description{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.dish-img{
	max-width: 300px;
	border-radius: 10px;
}
.preparation{
	max-width: 400px;
}
.hidden{
	display: none;
}